body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 97%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-top: 30px;
}

.sidenav a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenavbuttom {
    height: 22%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 706px;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-top: 30px;
}

.main {
    margin-left: 200px; /* Same as the width of the sidenav */
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.Logoutbutton {
    background-color: #e40c0c;
    border: none;
    color: #f1f1f1;
    padding: 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 21px;
    bottom: 39px;
    margin: 0px 28px;
    cursor: pointer;
    border-radius: 73%;
}
.Logoutbutton:hover {background-color: #ae0c0c
}

.Logoutbutton:active {
    background-color: #ae0c0c;
    box-shadow: 0 5px #666;
    transform: translateY(4px);

}

.logo-RightCorner {
    position: fixed;
    right: 15px;
    bottom: 0PX;
}

.logo-LeftCorner {
    position: sticky;
    top: 733px;
    left: -3px;
}



