<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Admin Menu</title>
    <link rel="stylesheet" type="text/css" href="../static/stylesMain.css" th:href="@{/styleMain.css}">
</head>
<body>
<div class="topnav">
    <a href="/">Back</a>
    <a class="active" href="adminMenu">Excel</a>
    <a href="itemList">Item List</a>
    <a href="/">Log off</a>
</div>
<div class="container">


    <table id="myTable">
        <thead>
        <tr class="header">
            <th style="width:25%;">Transfer Id</th>
            <th style="width:25%;">Sending department</th>
            <th style="width:25%;">Receiving department</th>
            <th style="width:25%;">Date of transfer</th>
            <th style="width:25%;">Item name</th>
            <th style="width:25%;">Total price</th>
            <th style="width:25%;">Item code</th>
            <th style="width:25%;">Sender name</th>
            <th style="width:25%;">Amount</th>
            <th style="width:25%;">Options</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="sendings: ${sendings}">
            <td th:text="${sendings.id}"/>
            <td th:text="${sendings.from}"/>
            <td th:text="${sendings.to}"/>
            <td th:text="${sendings.sendingDate}"/>
            <td th:text="${sendings.item}"/>
            <td th:text="${sendings.totalPrice}"/>
            <td th:text="${sendings.itemCode}"/>
            <td th:text="${sendings.senderName}"/>
            <td th:text="${sendings.amount}"/>


            <td>
                <div class="dropdown">
                    <button class="dropbtn">Options</button>
                    <div class="dropdown-content">
                        <a th:href="${'updateSending/' + sendings.id}">
                            Update</button>
                        </a>
                        <!--<a th:href="${'deleteSending/' + sending.id}">-->
                            <!--Delete</button>-->
                        <!--</a>-->
                    </div>
                </div>
            </td>

        </tr>

        </tbody>
    </table>
</div>
<div class="logo-TopRight"> <img src="https://i.imgur.com/VKkRjuB.png" alt="Trulli" width="150" height="50"> </div>
</body>
</html>