<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head> <link rel="shortcut icon"href="https://is3-ssl.mzstatic.com/image/thumb/Purple125/v4/f1/6d/08/f16d0880-85fa-b16b-9b5c-f94b4ea173bd/AppIcon-1x_U007emarketing-85-220-4.png/246x0w.jpg"/>
    <meta charset="UTF-8">
    <title>Admin Menu</title>
    <link rel="stylesheet" href="StyleAdmin.css ">
    <link rel="stylesheet" href="styleAdmin2.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>


<body bgcolor="#fafffd">

<div class = "logo-RightCorner"><img src="https://takeaway.sticksnsushi.com/images/logo.svg?lc2867" height="100" width="184"></div>

<div class="sidenav">
    <a class="active" href="/adminMenu">Start</a>
    <a href="/itemList">Item List</a>
    <a href="/createItem">Add new Item</a>
    <a href="/userCreate">Send Item</a>

    <div class="logo-LeftCorner">


        <!--<h1>Create Request [[${#httpServletRequest.remoteUser}]]</h1>-->


        <form th:action="@{/excel}" th:object="${date}" method="Post">
            <input type="hidden" th:field= "${date.name}" >
            <button class="btn" name="Excel" value="Excel"><i class="fa fa-download"></i> Excel-file </button>
        </form><br/>



        <form th:action="@{/logout}" method="post">

            <button class="btn2" name="Sign Out" value="Sign Out"><i class="fa fa-sign-out"></i> Sign Out </button>

        </form>

        <img src="https://i.imgur.com/VKkRjuB.png" alt="Trulli" width="200" height="75">
    </div>
</div>

<div class="main">
    <h2>Admin Menu</h2>
    <input type="text" id="myInput" placeholder="Search..." class="searchingBar fontSearch">
    <table id="myTable">
        <thead>
        <tr class="header">
            <th style="width:25%;" onclick="sortTableNumber(0)">Transfer Id</th>
            <th style="width:25%;" onclick="sortTable(1)">Sending department</th>
            <th style="width:25%;" onclick="sortTable(2)">Receiving department</th>
            <th style="width:25%;" onclick="sortTable(3)">Date of transfer</th>
            <th style="width:25%;" onclick="sortTable(4)">Item name</th>
            <th style="width:25%;" onclick="sortTableNumber(5)">Total price</th>
            <th style="width:25%;" onclick="sortTableNumber(6)">Item code</th>
            <th style="width:25%;" onclick="sortTable(7)">Sender name</th>
            <th style="width:25%;" onclick="sortTableNumber(8)">Amount</th>
            <th style="width:25%;">Options</th>

        </tr>
        </thead>
        <tbody id="myTable2">
        <tr th:each="sendings: ${sendings}">
            <td th:text="${sendings.id}"/>
            <td th:text="${sendings.from}"/>
            <td th:text="${sendings.to}"/>
            <td th:text="${sendings.sendingDate}"/>
            <td th:text="${sendings.item}"/>
            <td th:text="${sendings.totalPrice}"/>
            <td th:text="${sendings.itemCode}"/>
            <td th:text="${sendings.senderName}"/>
            <td th:text="${sendings.amount}"/>


            <td>
                <div class="dropdown">
                    <button class="dropbtn">Options</button>
                    <div class="dropdown-content">
                        <a th:href="${'updateSending/' + sendings.id}">
                            Update</button>
                        </a>
                        <a th:href="${'deleteSending/' + sendings.id}">
                            Delete</button>
                        </a>
                    </div>
                </div>
            </td>

        </tr>

        </tbody>
    </table>
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        $("#myInput").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#myTable2 tr").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });

    function sortTable(n) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("myTable");
        switching = true;
        //Set the sorting direction to ascending:
        dir = "asc";
        /*Make a loop that will continue until
        no switching has been done:*/
        while (switching) {
            //start by saying: no switching is done:
            switching = false;
            rows = table.rows;
            /*Loop through all table rows (except the
            first, which contains table headers):*/
            for (i = 1; i < (rows.length - 1); i++) {
                //start by saying there should be no switching:
                shouldSwitch = false;
                /*Get the two elements you want to compare,
                one from current row and one from the next:*/
                x = rows[i].getElementsByTagName("TD")[n];
                y = rows[i + 1].getElementsByTagName("TD")[n];
                /*check if the two rows should switch place,
                based on the direction, asc or desc:*/
                if (dir == "asc") {
                    if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                        //if so, mark as a switch and break the loop:
                        shouldSwitch= true;
                        break;
                    }
                } else if (dir == "desc") {
                    if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                        //if so, mark as a switch and break the loop:
                        shouldSwitch = true;
                        break;
                    }
                }
            }
            if (shouldSwitch) {
                /*If a switch has been marked, make the switch
                and mark that a switch has been done:*/
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                //Each time a switch is done, increase this count by 1:
                switchcount ++;
            } else {
                /*If no switching has been done AND the direction is "asc",
                set the direction to "desc" and run the while loop again.*/
                if (switchcount == 0 && dir == "asc") {
                    dir = "desc";
                    switching = true;
                }
            }
        }
    }

    function sortTableNumber(m) {
        var table, rows, switching, i, x, y, shouldSwitch, dir2, switchcount2 = 0;
        table = document.getElementById("myTable");
        switching = true;
        //Set the sorting direction to ascending:
        dir2 = "123";
        /*Make a loop that will continue until
        no switching has been done:*/
        while (switching) {
            //start by saying: no switching is done:
            switching = false;
            rows = table.rows;
            /*Loop through all table rows (except the
            first, which contains table headers):*/
            for (i = 1; i < (rows.length - 1); i++) {
                //start by saying there should be no switching:
                shouldSwitch = false;
                /*Get the two elements you want to compare,
                one from current row and one from the next:*/
                x = rows[i].getElementsByTagName("TD")[m];
                y = rows[i + 1].getElementsByTagName("TD")[m];
                //check if the two rows should switch place:
                if (dir2 == "123") {
                    if (Number(x.innerHTML) > Number(y.innerHTML)) {
                        //if so, mark as a switch and break the loop:
                        shouldSwitch = true;
                        break;
                    }
                } else if (dir2 == "321"){
                    if (Number(x.innerHTML) < Number(y.innerHTML)) {
                        //if so, mark as a switch and break the loop:
                        shouldSwitch = true;
                        break;
                    }
                }

            }
            if (shouldSwitch) {
                /*If a switch has been marked, make the switch
                and mark that a switch has been done:*/
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                //Each time a switch is done, increase this count by 1:
                switchcount2 ++;
            } else {
                /*If no switching has been done AND the direction is "asc",
                set the direction to "desc" and run the while loop again.*/
                if (switchcount2 == 0 && dir2 == "123") {
                    dir2 = "321";
                    switching = true;
                }
            }
        }
    }
</script>
</html>