<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head> <link rel="shortcut icon"href="https://is3-ssl.mzstatic.com/image/thumb/Purple125/v4/f1/6d/08/f16d0880-85fa-b16b-9b5c-f94b4ea173bd/AppIcon-1x_U007emarketing-85-220-4.png/246x0w.jpg"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/StyleMain.css" th:href="@{/StyleMain.css}">
</head>
<body>

<div class="hero-image">
<div class="hero-text">
    <div class = "logo-topmid"><img src="https://takeaway.sticksnsushi.com/images/logo.svg?lc2867" height="200" width="800"></div>
    <h1 style="font-size:50px;position: fixed;left: -132px;top: -22px;">Sticks'n'Sushi</h1>

    <a onclick="document.getElementById('id01').style.display='block'" class = "button2 button2Position" >Login</a>

</div>
    <div id="id01" class="modal">
        <form  class="box animate" th:action="@{/j_spring_security_check}" method='POST'>
            <img src="https://takeaway.sticksnsushi.com/images/logo.svg?lc2867" height="150" width="450" class="avatar">
            <h1>Login</h1>
            <input type="text" name="username" placeholder="Username" class="frontsize-u"/>
            <input type="password" name="password" placeholder="Password" class="frontsize-u"/>
            <button type="submit" class="frontsize-l button" >Login</button>
        </form>
    </div>

</div>
<div th:if="${#request.getParameter('error') == 'true'}"
           style="color:red;margin:10px 0px;">
    Login Failed!!!<br />
    Reason :
    <span th:if="${#session!= null and #session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION') != null}"
          th:utext="${#session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION').message}">
                Static summary
         </span>
</div>
</div>

<div class="logo-LeftCorner"><img src="https://i.imgur.com/VKkRjuB.png" alt="Trulli" width="300" height="100"></div>

<script>
    // Get the modal
    var modal = document.getElementById('id01');
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>

</body>
</html>