<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head> <link rel="shortcut icon"href="https://is3-ssl.mzstatic.com/image/thumb/Purple125/v4/f1/6d/08/f16d0880-85fa-b16b-9b5c-f94b4ea173bd/AppIcon-1x_U007emarketing-85-220-4.png/246x0w.jpg"/>
    <meta charset="UTF-8">
    <title>Item List</title>
    <link rel="stylesheet" type="text/css" href="../static/stylesMain.css" th:href="@{/styleMain.css}">
</head>
<body>
<div class="topnav">
    <a href="/">Back</a>
    <a href="adminMenu">Excel</a>
    <a class="active" href="itemList">Item List</a>
    <a href="/">Log off</a>
</div>

<div style="padding-left: 38px;padding-right: 4px;" ;>
    <h2>Item List</h2>

    <div class="search-container">
        <form class="example" action="/searchByTitle/" method="get" style="max-width:1000px">
            <input type="text" placeholder="Search.." name="Search">
            <button type="submit" value="Search"><span>Search by Item</span><i class="fa fa-search"></i></button>
        </form>
    </div>
</div>
<div>1. Item Price Date (Edit button)...</div>


        <a href="/createItem">
            <button class="button"><span>Add new item</span></button>
        </a>
</body>
</html>