<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Item List</title>
    <link rel="stylesheet" type="text/css" href="../static/stylesMain.css" th:href="@{/styleMain.css}">
</head>
<body>
<div class="topnav">
    <a href="/">Back</a>
    <a href="adminMenu">Excel</a>
    <a class="active" href="itemList">Item List</a>
    <a href="/">Log off</a>
</div>

<div style="padding-left: 38px;padding-right: 4px;" ;>
    <h2>Item List</h2>

    <div class="search-container">
        <form class="example" action="/searchByTitle/" method="get" style="max-width:1000px">
            <input type="text" placeholder="Search.." name="Search">
            <button type="submit" value="Search"><span>Search by Item</span><i class="fa fa-search"></i></button>
        </form>
    </div>

    <div class="container">


        <table id="myTable">
            <thead>
            <tr class="header">
                <th style="width:25%;">Item Id</th>
                <th style="width:25%;">Name</th>
                <th style="width:25%;">Unit Price</th>
                <th style="width:25%;">Item Code</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="items: ${items}">
                <td th:text="${items.id}"/>
                <td th:text="${items.name}"/>
                <td th:text="${items.unitPrice}"/>
                <td th:text="${items.itemCode}"/>

                <td>
                    <div class="dropdown">
                        <button class="dropbtn">Options</button>
                        <div class="dropdown-content">
                            <a th:href="${'updateItem/' + items.id}">
                                Update</button>
                            </a>
                            <a th:href="${'deleteItem/' + items.id}">
                                Delete</button>
                            </a>
                        </div>
                    </div>
                </td>

            </tr>

            </tbody>
        </table>
    </div>
</div>



        <a href="/createItem">
            <button class="button"><span>Add new item</span></button>
        </a>
</body>
</html>