<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Admin Menu</title>
    <link rel="stylesheet" type="text/css" href="../static/stylesMain.css" th:href="@{/stylesAdmin.css}">
</head>
<body>
<div class="topnav">
    <a href="/">Back</a>
    <a class="active" href="adminMenu">Excel</a>
    <a href="itemList">Item List</a>
    <a href="/">Log off</a>
</div>

<div class="container">
    <h1>Create Actor</h1>
    <form th:action="@{/updateSending}" th:object="${update}" method="Post">
        <hr>

        <p>Enter from</p>
        <select name="Department" class="frontsize-l button" th:field="${update.from}">
            <option value="">Department from</option>
            <option value="Nansensgade">Nansensgade</option>
            <option value="Hellerup">Hellerup</option>
            <option value="Østerbro">Østerbro</option>
            <option value="Istedgade">Istedgade</option>
            <option value="Gammel Kongevej">Gammel Kongevej</option>
            <option value="Valby">Valby</option>
            <option value="Lyngby">Lyngby</option>
            <option value="Tivoli Hotel">Tivoli Hotel</option>
            <option value="Rungsted">Rungsted</option>
            <option value="Borgergade">Borgergade</option>
            <option value="Krudthuset">Krudthuset</option>
            <option value="Tivoli Garden">Tivoli Garden</option>
            <option value="Baghuset">Baghuset</option>
        </select>
        <select name="Department" class="frontsize-l button" th:field="${update.to}">
            <option value="">Department to</option>
            <option value="Nansensgade">Nansensgade</option>
            <option value="Hellerup">Hellerup</option>
            <option value="Østerbro">Østerbro</option>
            <option value="Istedgade">Istedgade</option>
            <option value="Gammel Kongevej">Gammel Kongevej</option>
            <option value="Valby">Valby</option>
            <option value="Lyngby">Lyngby</option>
            <option value="Tivoli Hotel">Tivoli Hotel</option>
            <option value="Rungsted">Rungsted</option>
            <option value="Borgergade">Borgergade</option>
            <option value="Krudthuset">Krudthuset</option>
            <option value="Tivoli Garden">Tivoli Garden</option>
            <option value="Baghuset">Baghuset</option>
        </select>

        <input type="date" th:field= "${update.sendingDate}" >
        <p>Enter Item</p>

        <select name="Item" class="frontsize-l button" th:field="${update.item}">
            <option value="">Select Item</option>
            <option value="Laks">Laks</option>
            <option value="Tuna">Tuna</option>
            <option value="Sea bass">Sea Bass</option>
        </select>

        <input type="text" th:field="${update.itemCode}">
        <p>Enter total price</p>
        <input type="text" th:field="${update.totalPrice}">
        <p>Enter your name</p>
        <input type="text" th:field="${update.senderName}">
        <p>Enter amount</p>
        <input type="number" step="any" th:field="${update.amount}">


        <input class="registerbtn" type="submit" value="Submit"/>


        <hr>
    </form>
</div>
<div class="logo-TopRight"> <img src="https://i.imgur.com/VKkRjuB.png" alt="Trulli" width="150" height="50"> </div>
</body>
</html>
